*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    font-size:22px;
    font-weight: bold;
}
.menu{
    list-style: none;
    display: flex;
    font-size: 16px;
    gap:30px;
    color: gray;
}

.User{
    width: 8%;
    height:30px;
    font-size:10px;
    border-radius:10px;
    border:0px;
    background-color: aliceblue;
    color: #00bfff;
}
.hero{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.hero-content{
    width: 40%;
}
.hero h1{
    font-size: 48px;
    
}
.hero p{
    font-size: 20px;
    color:gray;
}
.hero button{
    width:40%;
    height: 50px;
    font-size:12px ;
    background-color:rgb(26, 189, 244);
    border-radius: 20px;
    border: 0cap;
    color: white;
}
.blue{
    color: rgb(35, 200, 255);
    font-size: 48px;
}
.image{
    width: 30%;
}
.image img{
    width: 100%;
    height: auto;

}
