

*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
.bigcontainer{
    border: 5px solid black;
}
.navbar{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar h1{
    font-size:90px ;
}

.list{
    width: 30%;
    height: 300px;
    font-size: 70px;
    align-content: center;
}
.list ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    
}
.navbar button{
    width:07%;
    height: 150px;
    border-radius: 25px;
    font-size: 70px;
    background-color: azure;
    color: rgb(15, 171, 233);
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.content{
    width: 34%;
    height: 70VH;
    font-size: 110px;
}
 #h1{
    color: lightskyblue;
}
.content p{
    font-size: 70px;
}
.content button{
    width: 35%;
    height: 170px;
    font-size:50px ;
    background-color: rgb(19, 175, 237);
    color: white;
    border: 0;
    border-radius: 30px;

}
.image{
    width:35%;
    height: 70vh;
}
.image IMG{
    height: 60vh;
}