*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    font-size:60px;
    font-weight: bold;
}
.menu{
    list-style: none;
    display: flex;
    font-size: 50px;
    gap:150px;
    color: gray;
}

.User{
    width: 8%;
    height:100px;
    font-size:35px;
    border-radius:30px;
    border:0px;
    background-color: aliceblue;
    color: #00bfff;
}
.hero{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.hero-content{
    width: 40%;
}
.hero h1{
    font-size: 200px;
    
}
.hero p{
    font-size: 90px;
    color:gray;
}
.hero button{
    width:40%;
    height: 200px;
    font-size:60px ;
    background-color:rgb(26, 189, 244);
    border-radius: 45px;
    border: 0cap;
    color: white;
}
.blue{
    color: rgb(35, 200, 255);
    font-size: 200px;
}
.image{
    width: 30%;
}
.image img{
    width: 100%;
    height: auto;

}
